<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="shorcut icon" href="/img/logo-mercadolibre.jpg" sizes="16x16 32x32"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <main>
    <header>
      
        <div class="buscador_header">
            <img class="logo_header" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre" >
            <form action="" >
            <input type="text" placeholder="Buscar productos, marcas" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
         <p class="compra_header"><span> <i class="fa-solid fa-hand-holding-dollar"></i></span>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
       
       
       
            
        <nav class="nav_header">
                <ul class="list_1">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>

                <ul class="list_2">
                        <li>Creá tu cuenta <span><i class="fa-regular fa-id-card"></i></span></li>
                        <li>Ingresá <span><i class="fa-solid fa-right-to-bracket"></i></span></li>
                        <li>Mis compras <span><i class="fa-solid fa-basket-shopping"></i></span></li>
                    
                </ul>
            </nav>   
            
              <button class="burger-menu_header"> <i class="fas fa-bars"></i></button>
                   
    </header>
    <img class="banner_home" src="/img/img-home-banner.jpg" alt="banner del home">
    <h2 class="titular">Basado en tu última visita</h2>
    
    <section class="basado-ultima-visita">
        

        <article class="producto">
           
            <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            
      
            <div class="descripcion_producto">  
                <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770 </p>
                <p class="descuento_green"> 40% off
            </p> 
            <h4>Cafetera Moulinex</h4> 
            
            </div>
        </article>
        <article class="producto">
            <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de la notebook">
        

        <div class="descripcion_producto"> 
            <i class="fa-solid fa-truck"></i>    
        <p class="precio"> $230.000 </p>
        <p class="descuento_green"> 20% off </p>
        <h4>MacBook Pro 2019</h4>
        </div>
        </article>

        <article class="producto">
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen del celular">
        
            <div class="descripcion_producto"> 
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$70.500 </p>
                    <p class="descuento_green"> 10% off
                </p>
                <h4>Samsung Galaxy S10</h4>
            </div>
        </article>

        <article class="producto">
            <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del televisor">
        
            <div class="descripcion_producto">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$23.200 </p>
                <p class="descuento_green">5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </article>
        
       
        

    </section>
        <h2 class="titular">Ofertas</h2>
        <section class="ofertas">
            
            

            <article class="producto">
                <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            

                <div class="descripcion_producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770 </p>
                     <p class="descuento_green"> 40% off
                    </p> 
                    <h4>Cafetera Moulinex</h4> 
                    
                </div>
            </article>
               
            <article class="producto">
                <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de la notebook">
            

                <div class="descripcion_producto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000 </p>
                        <p class="descuento_green"> 20% off
                    </p>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="producto">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen del celular">
            
            
                <div class="descripcion_producto">
                    <i class="fa-solid fa-truck"></i>                  
                    <p class="precio">$70.500 </p>
                        <p class="descuento_green"> 10% off
                    </p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            
            <article class="producto">
                <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del televisor">
            
                <div class="descripcion_producto">     
                    <i class="fa-solid fa-truck"></i>             
                    <p class="precio">$23.200 </p>
                        <p class="descuento_green">5% off 
                    </p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
            
            </section>
        
    </section>

    <footer>   
    <div class="logo_footer">
        <i class="fa-solid fa-credit-card"></i>
        </div>
       <h4> Pagá con tarjeta o en efectivo</h4> 
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>

    <div class="logo_footer">
    <i class="fa-solid fa-gift"></i>
</div>
    

    <h4> Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    
        <div class="logo_footer">
        <i class="fa-solid fa-user-shield"></i>
    </div>
   <h4>  Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</main>
</body>
</html>