<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
    <link rel="shorcut icon" href="/img/logo-mercadolibre.jpg" sizes="16x16 32x32"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    
        <header>
      
            <div class="buscador_header">
              <a href="/"> <img class="logo_header" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre" style="display: inline-block;"></a> 
                <form action="" >
                <input type="text" placeholder="Buscar productos, marcas" >
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
             <p class="compra_header"><span> <i class="fa-solid fa-hand-holding-dollar"></i></span>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
           
           
           
                
            <nav class="nav_header">
                    <ul class="list_1">
                        <a href=""><li>Ofertas</li></a>
                        <a href=""><li>Tiendas Oficiales</li></a> 
                        <a href=""><li>Vender</li></a> 
                        <a href=""><li>Ayuda</li></a>
                    </ul>
    
                    <ul class="list_2">
                           <a href="/register"> <li>Creá tu cuenta <span><i class="fa-regular fa-id-card"></i></span></li> </a> 
                           <a href="/login"> <li>Ingresá <span><i class="fa-solid fa-right-to-bracket"></i></span></li></a> 
                            <a href=""> <li>Mis compras <span><i class="fa-solid fa-basket-shopping"></i></span></li> </a>
                        
                    </ul>
                </nav>   
                
                  <button class="burger-menu_header"> <i class="fas fa-bars"></i></button>
                       
        </header>
        <main>

            <h2 class="section_register">Registro del Usuario</h2>

            <form action="" method="post">

                <div class="datos">
                    <input type="text" name="nombre" placeholder="Nombre">
                    <input type="text" name="apellido" placeholder="Apellido">
                    <input type="text" name="nombre-usuario" placeholder="Nombre de Usuario">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="contraseña" placeholder="Contraseña">
                    <input type="password" name="confirm-contraseña" placeholder="Confirmar Contraseña">
                </div>
              

        <h2 class="section_register">Fecha de Nacimiento</h2>

           
                <div class="fecha">
                    <input type="date" name="fecha">
                    <input type="text" name="domicilio" placeholder="Domicilio">
                </div>
            

        <h2 class="section_register">Perfil del Usuario</h2>

        
            <div class="perfil">
                <input class="archivo_register" type="file" name="imagen-perfil" accept=".jpg">
                <div class="perfil_seleccion">
                    <input type="radio" name="perfil">
                    <label>Comprador</label>
                </div>
                
                <div class="perfil_seleccion">
                    <input type="radio" name="perfil">
                    <label>Vendedor</label>
                </div>
                
            </div>
        
      
        <h2 class="section_register">Intereses</h2>

            <article class="intereses">
                <div>
                    <input type="checkbox" name="intereses">
                    <label for="intereses">Electro</label>
                </div>
                
    
                <div>
                    <input type="checkbox" name="intereses">
                    <label for="intereses">Moda</label>
                </div>
                
                <div>
                    <input type="checkbox" name="intereses">
                    <label for="intereses">Hogar</label>
                </div>
                
                <div>
                    <input type="checkbox" name="intereses">
                    <label for="intereses">Juguetería</label>
                </div>
                
                <div>
                    <input type="checkbox" name="intereses">
                    <label for="intereses">Vida sana</label>
                    
                </div>
            </article>
       
        
        
            <div class="botones">
               <button type="submit" class="button_enviar">Enviar</button> 
                <button type="reset">Borrar</button>
             </div>
        </form>
            
       
        
    </main>
    <footer>   
        <div class="logo_footer">
            <i class="fa-solid fa-credit-card"></i>
            </div>
           <h4> Pagá con tarjeta o en efectivo</h4> 
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    
        <div class="logo_footer">
        <i class="fa-solid fa-gift"></i>
    </div>
        
    
        <h4> Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        
            <div class="logo_footer">
            <i class="fa-solid fa-user-shield"></i>
        </div>
       <h4>  Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </footer>
</body>
</html>