footer{
    background-color: white;
    font-size: 12px;
    width:100vw;
    text-align: center;
}


footer h4{
    margin-top: 10px;
    text-align: center;
}

footer p{
    margin-bottom: 10px;
}

.logo_footer{
    font-size: 2em;
    color:#1259c3;
    text-align: center;
    margin-bottom: 10px;
}

@media(min-width:1024px){
    footer{
        font-size: 1em;
    }
}