*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    font-size: 12px;
    width: 100%;
    height: auto;
}

.logo_header{
    width:50%;
    height: auto;
    padding: 15px;
}

.compra_header{
    margin-top:20px;
    text-align: center;
    
}

.buscador_header{
    
    margin-left:20px;
    
}

.nav_header{
    margin-top:20px;
    margin-left:10px;
    
}


.nav_header .list_2{
    margin-top: 20px;
    padding-bottom: 10px;
}

.burger-menu_header{
    color:white;
background-color:#1259c3;
border-radius: 7px;
font-size: 20px;
padding: 10px;
margin-bottom: 10px;
margin-left: 45%;

}
.nav_header{
    display: none;
    
}


@media(min-width:768px){
    .burger-menu_header{
        display:none
    }
    .nav_header{
        font-size: 2em;
        display:block;
    }
    .compra_header{
        font-size: 2em;
    }
    .buscador_header input{
        font-size: 2em;
    }
    .buscador_header i {
        font-size: 2em;
    }
}