a{
   color:inherit;
   width:50%;
   
}
header{
    background-color: var(--amarillo);
    font-size: 12px;
    width: 100%;
    height: auto;
    
}


.compra_header{
    margin-top:20px;
    text-align: center;
    
}

.buscador_header{
    display: flex;
        justify-content: space-around;
        width: 100vw;
       flex-wrap: wrap;
       align-items: center;
    }
    .buscador_header .logo_header{
        width: 100%;
        height: auto;
    }
    .buscador_header form{
        width: 40%;
    }
    .buscador_header input{
        width: 80%;
    }
.nav_header{
    margin-top:20px;
    margin-left:10px;
    
}


.nav_header .list_2{
    margin-top: 20px;
    padding-bottom: 10px;
}

.burger-menu_header{
    color:white;
background-color:var(--azul);
border-radius: 7px;
font-size: 20px;
padding: 10px;
margin-bottom: 10px;
margin-top: 10px;
margin-left: 45%;

}
.nav_header{
    display: none;
    
}

@media(min-width:768px){
    a{
        color:inherit;
        width:25%;
        
     }
    header{
        font-size: 16px;
        }
        .buscador_header{
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: space-around;
        }
        .buscador_header .logo_header{
            width: 100%;
            height: auto;
            padding: 2%;
        }
        .buscador_header form{
            width: 20%;
            height: 20px;
            align-self: center;
            margin-top:20px;
        }
       
        .buscador_header input{
            width: 80%;
            height: 100%;
            margin-left: auto;
            border:1px solid #fff;
            border-bottom:1px solid #000;
            border-right: 1px solid #000;
            border-radius: 3px;
        }
            .burger-menu_header{
                display:none
            }
            .nav_header{
                display: flex;
                justify-content: space-between;
                margin-left: 0px;
                padding: 10px;
            }
            .nav_header a{
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                justify-content: center;
            }
        
            .nav_header .list_1 {
                display: flex;
                width: 45%;
                align-items: center;
                justify-content: space-around;
               
            }
         
            .nav_header .list_2{
                display: flex;
                width: 50%;
                align-items: center;
                justify-content: space-around;
                
            }
           
}

@media(min-width:1024px){
    a{
        color:inherit;
        width:25%;
        
     }
header{
font-size: 16px;
}
.buscador_header{
   
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.buscador_header .logo_header{
    width: 100%;
    height: auto;
    padding: 2%;
}
.buscador_header form{
    width: 30%;
    height: 20px;
    align-self: center;
}
.buscador_header input{
    width: 80%;
    height: 100%;
    margin-left: auto;
    border:1px solid #fff;
    border-bottom:1px solid #000;
    border-right: 1px solid #000;
    border-radius: 3px;
}
    .burger-menu_header{
        display:none
    }
    .nav_header{
        display: flex;
        justify-content: space-between;
    }
  
    .nav_header .list_1{
        display: flex;
        width: 38%;
        align-items: center;
        justify-content: space-around;
       
    }
    .nav_header .list_2{
        display: flex;
        width: 41%;
        align-items: center;
        justify-content: space-around;
        
    }
   
    
    
   
}